<!DOCTYPE html>
<html lang="en">
<head>
    <title>hoho.ge - Ideal gift</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="webclip.png" rel="apple-touch-icon" />
    <script src="https://cdn.rawgit.com/hilios/jQuery.countdown/2.2.0/dist/jquery.countdown.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta property="og:description" content="მალე თბილისში. გამოგვიწერე, რომ აღმოაჩინოთ საუკეთესო საჩუქარი. - Coming soon in Tbilisi. Follow us to explore the ideal gift.">
    <meta property="og:title" content="საუკეთესო საჩყქარი - Ideal gift">
    <meta property="og:image" content="https://hoho.ge/img/og_img.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:url" content="https://hoho.ge">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="ჰოჰო.ჯი - hoho.ge">

    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&family=Noto+Serif+Georgian:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
