@{
    ViewData["Title"] = "hoho.ge - GEO Partnership";
}

<div class="container presentation">
    <img class="bg_img" src="/img/Happywithgift_1980-compressed.jpeg" alt="happy girl with gift">
    <img class="bg_img_elements" src="/img/background.png" alt="identity elements">
    
    <div class="p_content">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/02.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/03.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/04.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/05.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/06.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/07.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/08.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/09.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/10.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/11.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/12.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/13.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/14.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Eng/15.png" alt="identity elements">
    </div>
</div>
