@{
    ViewData["Title"] = "hoho.ge - Partnership";
}

@*<div class="elements-back">
</div>*@
<div class="container">
    <img class="bg_img" src="/img/Happywithgift_1980-compressed.jpeg" alt="happy girl with gift">
    <img class="bg_img_elements" src="/img/background.png" alt="identity elements">
    <div class="content">
        <div class="titles">
            <h1>Hoho! ეს რა არის?</h1>
            <h2>ხოხო - ეს იდეალური საჩუქარია!</h2>
            <h3>(მალე თბილისში)</h3>
        </div>
        <div class="btns">
            <a class="button" href="@Url.Action("Geo", "Home")" title="">გახსენით პრეზენტაცია ქართულად</a>
            @*<a class="button" href="@Url.Action("Eng", "Home")" title="">Open presentation on English</a>*@
            <a class="button" href="@Url.Action("Ru", "Home")" title="">Открыть презентацию на русском</a>
        </div>
    </div>
</div>
