@{
    ViewData["Title"] = "hoho.ge - GEO Partnership";
}

<div class="container presentation">
    <img class="bg_img" src="/img/Happywithgift_1980-compressed.jpeg" alt="happy girl with gift">
    <img class="bg_img_elements" src="/img/background.png" alt="identity elements">
    
    <div class="p_content">
        <img class="p_img_item" src="/img/hoho_presentation_Ru/03.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Ru/04.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Ru/05.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Ru/06.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Ru/07.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Ru/08.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Ru/09.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Ru/10.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Ru/11.png" alt="identity elements">
        <img class="p_img_item" src="/img/hoho_presentation_Ru/12.png" alt="identity elements">
    </div>
</div>
