
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.99) 100%), url('/img/bg.jpg');
  background-size: cover; /* Сохранить пропорции фонового изображения */
  background-repeat: no-repeat;
  background-position: center center; /* Выравнивание по центру */
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
}

#content {
  padding: 10px;
  color: #eee !important;
  letter-spacing: .4rem;
}

.logo{
    width: 150px;
}

.info {
  font-family: 'Noto Serif Georgian', serif;
  font-size: 36px;
  margin-bottom: 10px;
}

.coming_soon {
  text-transform: uppercase;
  margin-top: 80px;
  font-size: 1.75em;
}

#countdown {
  font-size: 2em;
}


@media all and (max-width: 720px) {
  .info {
    font-size: 24px;
  }

  .logo {
    width: 120px;
  }

  #content {
    letter-spacing: .1rem;
  }

  #countdown {
    font-size: 1.5em;
  }

  .coming_soon {
    font-size: 1.3em;
  }
}
